.management-main
  .main-box
    .main-box-item
      .main-title
        住所登録
  .main-form
    .main-form-top
      = form_with(@delivery_address) do |f|
        -# = devise_error_messages!
        .field
          .field-label
            = f.label :送り先のお名前（全角）
          .field-required
            = f.label :必須
        .field-input-name
          = f.text_field :delivery_name, class: 'field-input-family', autofocus: true, placeholder: '例)山田哲人'
        .field
          .field-label
            = f.label :送り先のお名前カナ（全角）
          .field-required
            = f.label :必須
        .field-input-name
          = f.text_field :delivery_furigana, class: 'field-input-family', autofocus: true, placeholder: '例)ヤマダテツト'
        .field
          .field-label
            = f.label :郵便番号
          .field-required
            = f.label :必須
        .field-input
          = f.number_field :postal_code, class: 'field-input-text', autocomplete: true, placeholder: '例)5450011'
        .field
          .field-label
            = f.label :都道府県
          .field-required
            = f.label :必須
        .field-input
          = f.text_field :prefecture, class: 'field-input-text', placeholder: '例)北海道'
        .field
          .field-label
            = f.label :市区町村
          .field-required
            = f.label :必須
        .field-input
          = f.text_field :city, class: 'field-input-text', placeholder: '例)大阪市阿倍野区'
        .field
          .field-label
            = f.label :番地
          .field-required
            = f.label :必須
        .field-input
          = f.text_field :street_number, class: 'field-input-text', placeholder: '例)1-11-30'
        .field
          .field-label
            = f.label :アパート・ビル名など
          .field-required
            = f.label :必須
        .field-input
          = f.text_field :address_detail, class: 'field-input-text', placeholder: '例)燦燦ビル3階201号'
        .field
          .field-label
            = f.label :電話番号
          .field-required
            = f.label :必須
        .field-input
          = f.text_field :phone_number, class: 'field-input-text', placeholder: '例)09054543312'

        .actions
          = f.submit "登録", class: "btn"
        

