.top
  .top-box
    = link_to root_path do
      =fa_icon 'remove', class:'remove'
  .top__inner
    .top__inner--text
      購入手続き

.second
  .second__box
    .second__box--img
      = image_tag "#{@product.images.first.picture}", size:"250x200"
    .second__box--explain
      .explain-text
        = @product.name
      .explain-box
        .explain-box-title
          送料込み
        .explain-box-money 
          = "￥#{@product.price.to_s}"
          
  .second-remainder
  .payment
    .payment-money
      .pay-title
        支払い金額
      .pay-number
        = "￥#{@product.price.to_s}"
  .second-remainder2
  .second-delivery
    =link_to "/" do
      .delivery-containar
        .delivery-title
          配送先
        .delivery-choice
          沖縄県
          =fa_icon 'angle-right', class:'allow'
  .remainder3
  .pay
    %h3 支払い方法(クレジット)
    - if @default_card_information.blank?
      %br /
    - else
      -#以下カード情報を表示
      = "**** **** **** " + @default_card_information.last4
      - exp_month = @default_card_information.exp_month.to_s
      - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
      = exp_month + " / " + exp_year
    %br

    = form_tag(action: :pay, method: :post) do
      %button 購入する