= form_with(model: @products, local: true) do |f|
  .body
    .products
      %ul.products__images
        %li.text
          .title
            出品画像
          .icon
            必須
        %li.products__images--text 
          最大10枚までアップロードできます
        %li.image
          = image_tag("icon_camera.png")
      %ul.title
        %li.products__name
          %ul.text 
            %li.title
              商品名
            %li.icon
              必須
          .name   
            = f.text_field :name, class: "put-up", placeholder: '40文字まで'        
        %li.products__descriptions
          %ul.text 
            %li.title
              商品の説明
            %li.icon
              必須

          .text-box
            = f.text_area :descripitons, class: "explanation", placeholder: '商品の説明（必須 1000文字以内） （色、素材、重さ、定価、注意点など）'  
      %ul.products__detail
        商品の詳細
        %li.item_input__body__category#category_box
          %ul.text 
            %li.title
              カテゴリー
            %li.icon
              必須
          .pulldown#partent_box
            = f.select :category_id, options_for_select( @category_parent_array.map{|c| [c[:name], c[:id]]}),{include_blank: "選択してください"}, { class: "parent_category_box", id: "parent_category"}
          .pulldown.item_input__body__category__children#children_box
            -#親カテゴリー選択によって子カテゴリー表示
          .pulldown.item_input__body__category__grandchildren#grandchildren_box
            -#子カテゴリー選択によって孫カテゴリー表示
          %ul.text
            %li.title
              サイズ
            %li.icon
              必須
          .pulldown#size_box
            = f.select :size, options_for_select( @product_parent_array.map{|c| [c[:size], c[:id]]}),{include_blank: "選択してください"}, { class: "parent_size_box", id: "parent_size"}
          %ul.text 
            %li.title
              ブランド
            %li.icon-any
              任意
          .choice
            = fields_for(@brands, local: true) do |i|
              = i.text_field :name, class: "choice-name", placeholder: '例) シャネル'
        %li.statuses
          %ul.text 
            %li.title
              商品の状態
            %li.icon
              必須
          .choice
            選択して下さい
      %ul.products__delivery
        配送について
        %li.fee
          %ul.text 
            %li.title
              配送料の負担
            %li.icon
              必須
          .choice-box
            選択して下さい
        %li.area
          %ul.text 
            %li.title
              発送元の地域
            %li.icon
              必須
          .choice
            選択して下さい
        %li.delivery-time
          %ul.text 
            %li.title
              発送までの日数
            %li.icon
              必須
          .choice
            選択して下さい
      %ul.products__price
        価格
        %li.price
          %ul.text 
            %li.title
              販売価格 
            %li.icon
              必須
          .value
            ￥
          .box
        %li.tax 
          販売手数料（10％）
          .line
            ー
        %li.profit
          販売利益
          .line
            ー
      %ul.btn
        %li.exhibit-btn
          出品する
        %li.save-btn
          下書きに保存
        .back-btn
          戻る
      .products__attention
        禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。