.pickup-container
  %h2.head
    ピックアップカテゴリー
  .product-box
    .product-head
      %h3=link_to '新規投稿商品'
    .product-lists
      - @products.each do |product|
        -if product.status == 0
          -# statusが0の時、"商品出品中"とする。
          .product-list
            = link_to product_path(product.id) do
              = image_tag product.images.first.picture.url, height: '150px', width: '220px'
              .product-list-body
                %h3.name
                  = product.name
                  .details
                    %ul
                      %li
                        = product.price
                        円
                      %li
                        =fa_icon 'star', class: 'likeicon'
                        0
                      %p.tax (税込)
        -else
          .product-list
            %p.soldout 
              SOLD OUT
            = image_tag product.images.first.picture.url, height: '150px', width: '220px'
            .product-list-body
              %h3.name
                = product.name
                .details
                  %ul
                    %li
                      = product.price
                      円
                    %li
                      =fa_icon 'star', class: 'likeicon'
                      0
                  %p.tax (税込)