.main-visual
  .content
    %h2.content-subtitle
      人生を変えるフリマアプリ
    %p.content-text
      FURIMAは誰でもかんたんに出品・購入できる
      %br
      フリマアプリです
    .content-btn
      .abtn
        =link_to image_tag("http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg", width: '180', height: '53.55'),"/"
      .gbtn
        =link_to image_tag("http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg", width: '180', height: '53.55'),"/"
.top-introduction
  %h2.subtitle
    FURIMAが選ばれる3つの理由
  %ul.lists
    %li.list
      .list-pict
        %span.number 1
        = image_tag("pict-reason-01.jpg", width: '210.89', height: '210.88')
      %h3.list-text
        %span 3分
        ですぐ出品
      %p.list-description
        スマホで入力するだけで簡単に出品できる！
    %li.list
      .list-pict
        %span.number 2
        = image_tag("pict-reason-02.jpg", width: '210.89', height: '210.88')
      %h3.list-text
        %span シンプル
        で使いやすい
      %p.list-description
        めんどくさい入力は必要なく、検索も購入もスムーズ！
    %li.list
      .list-pict
        %span.number 3
        = image_tag("pict-reason-03.jpg", width: '210.89', height: '210.88')
      %h3.list-text
        手数料
        %span 業界最安
      %p.list-description
        最大3%でお得に出品&購入！
.top-middle
  .top-middle__inner
    %h2.top-middle__inner--subtitle
      会員数日本1位
    %p.top-middle__inner--text
      FURIMAは、フリマアプリで最も人気。
      %br
      出品数・購入回数も業界最多です！
      %br
      ほしかったあの商品に出会えるかもしれません。
    .top-middle__inner--btn
      .abtn
        =link_to image_tag("http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg", width: '180', height: '53.55'),"/"
      .gbtn
        =link_to image_tag("http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg", width: '180', height: '53.55'),"/"
.top-key__features
  %h2.head
    FURIMAの特徴
  %ul.items
    %li.item
      .item-img
        = image_tag("icon-01.png", width: '98', height: '150.84')
      %h3.item-subtitle
        簡単に売り買いできる
      %p.item-detail
        スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
    %li.item
      .item-img
        = image_tag("icon-03.png", width: '98', height: '150.84')
      %h3.item-subtitle
        売上金は即日振込み対応
      %p.item-detail
        午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします！
    %li.item
      .item-img
        = image_tag("icon-04.png", width: '98', height: '150.84')
      %h3.item-subtitle
        様々な支払いに対応
      %p.item-detail
        お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。