= render "products/header"
.bread-crumbs
  %ul
    %li

.main
  .main-show
    .content
      .content-top
        .item-box
          %h2.item-box__name 
            = @product.name
          .item-box__body
            %ul
              %li
                = image_tag(@product.images[0].picture, width: '560', height: '346')
                %ul.boxes
                  - @product.images.each do |image|
                    %li.box
                      = image_tag image.picture, width: '140', height: '87'
          .item-box__price
            %span.price 
              = @product.price
              円
            .item-box__price-detail
              %span (税込)
          .item-detail
            = @product.descripitons
          .table
            %table
              %tbody
                %tr
                  %th 出品者
                  %td 
                    = @product.user.nickname
                %tr
                  %th カテゴリー
                  %td
                    = link_to "ベビー・キッズ", "/"
                    %br
                    = link_to "ベビー服", "/"
                    %br
                    = link_to "アウター"
                %tr
                  %th ブランド
                  %td
                    = @product.brand.name
                %tr
                  %th 商品サイズ
                  %td
                    = @product.size
                %tr
                  %th 商品の状態
                  %td
                    = @product.quality
                %tr
                  %th 配送料の負担
                  %td 
                    = @product.fee
                %tr
                  %th 発送元の地域
                  %td
                    = @product.area
                %tr
                  %th 発送日目安
                  %td
                    = @product.delivery_time
          .optional-area
            %ul
              %li.like-btn
                %i
                  =fa_icon 'star', class:'star'
                お気に入り 0
            %ul.optional
              %li.potional-btn
                =link_to "/" do
                  %i
                    =fa_icon 'flag', class:'flag'
                  不適切な商品の通報
      %ul.links
        %li.left
          = link_to root_path do
            %i
              =fa_icon 'angle-left', class: 'angle-left'  
            %span
            前の商品
        %li.right
          = link_to root_path do
            %span 後ろの商品
            %i
              =fa_icon 'angle-right', class: 'angle-right'
      .related-items
        =link_to 'ベビー・キッズをもっと見る'
        .product-lists

.banner
  .inner
    %h2.inner-title
      だれでもかんたん、人生を変えるフリマアプリ
    %p.inner-text
      今すぐ無料ダウンロード
    .inner-icon
      .abtn
        =link_to image_tag("http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg", width: '180', height: '53.55'),"/"
      .gbtn
        =link_to image_tag("http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg", width: '180', height: '53.55'),"/"
.footer
  %ul.contents
    %li.content
      %h2.content-head FURIMAについて
      %ul
        %li
          = link_to '会社概要(運営会社)', "/"
        %li
          = link_to 'プライバシーポリシー', "/"
        %li
          = link_to 'FURIMA利用規約', "/"
        %li
          = link_to 'ポイントに関する特約', "/"
    %li.content
      %h2.content-head FURIMAを見る
      %ul
        %li
          = link_to 'カテゴリー一覧', "/"
        %li
          = link_to 'ブランド一覧', "/"
    %li.content
      %h2.content-head ヘルプ&ガイド
      %ul
        %li
          = link_to 'FURIMAガイド', "/"
        %li
          = link_to 'FURIMAロゴ利用ガイドライン', "/"
        %li
          = link_to 'お知らせ', "/"
  .footer-logo
    =link_to image_tag("logo-white.png", width: '160', height: '46.34')
    %p ©︎ FURIMA
.edit-box
  -if user_signed_in? && current_user.id == @product.user_id
    .purchase
      = link_to "/"  do
        .purchase-btn
          %span.purchase-btn-text
            出品ページの編集
  -else
    .purchase
      = link_to product_purchases_path(@product.id) do
        .purchase-btn
          %span.purchase-btn-text
            購入手続きへ
